<!DOCTYPE html>
<html lang="en">

<head>
    {% load static from staticfiles %} {% load bootstrap3 %} 
    {% load sass_tags %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="UK SKA Workshop in Edinburgh 2017">
    <meta name="author" content="Yolanda Gorriz Exposito & Jose Sabater Montes">

    <title>{% block title %}UK SKA Workshop in Edinburgh 2017{% endblock %}</title>

    <!-- Favicon -->
    <!-- <link rel="icon" href="/images/favicon.ico"> -->

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% sass_src 'css/style.scss' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cousine" rel="stylesheet">
    <!-- With media="none" does not block the rendering of the page -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" media="none" onload="this.media='screen';">
    <noscript><link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"></noscript>

    <!-- We are targeting here IE10: it adds a .ie10 class to html tag for specific style rules -->
    <!--[if !IE]><!-->
    <html lang="en">
    <script>
        if ( /*@cc_on!@*/ false) {
            document.documentElement.className += 'ie10';
        }
    </script>
    <!--<![endif]-->
    <!-- We are targeting here IE9: it adds a .ie9 class to html tag for specific style rules -->
    <!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
        var p;
        window.addEventListener("load", function() {
            window.cookieconsent.initialise({
                    "palette": {
                        "popup": {
                            "background": "#252e39"
                        },
                        "button": {
                            "background": "#355dff"
                        }
                    },
                    "dismissOnScroll": 800,
                    "dismissOnTimeout": 7500,
                    "onStatusChange": function(status) {
                        console.log('onStatusChange() called with status ' + status);
                        if (status == "dismiss") {
                            // console.log('Close popup');
                            p.close();
                        };
                    }
                }, function(popup) {
                    p = popup;
                }

            )
        });
    </script>
</head>

<body class="">

    <!-- Header -->
    <header id="header" class="navbar-fixed-top main-navbar-top" role="banner">
        <div class="container">
            <div class="row">
                <a class="navbar-brand" href="#">
                    <span class="organisation">UK SKA</span>
                </a>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-menu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <nav class="navbar navbar-right" role="navigation">
                    <div class="collapse navbar-collapse main-menu">
                        <ul class="nav navbar-nav">
                            {% block navigation %}
                            <li><a class="btn-nav" href="#about">About</a></li>
                            <li><a class="btn-nav" href="#participants">Participants</a></li>
                            <li><a class="btn-nav" href="#programme">Programme</a></li>
                            <li><a class="btn-nav" href="#contact">Contact</a></li>
                            <li><a class="btn-nav" href="{% url 'register' %}">Registration</a></li>
                            {% endblock %}
                        </ul>
                    </div>
                </nav>
            </div>
            <!-- End: .row -->
        </div>
        <!-- End: .container -->
    </header>
    <!-- End: header -->

    {% block content %}{% endblock %}

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright small text-center">Unless explicitly stated otherwise, all photographs are copyright protected of the SKA Organisation and are released under the&nbsp;<a href="http://creativecommons.org/licenses/by/3.0" target="_blank">Creative Commons Attribution 3.0 Unported License</a>.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- End: footer -->

    <!-- jQuery -->
    <script src="{% static 'js/vendors/jquery-1.11.3.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom JavaScript -->
    <script src="{% static 'js/custom-scripts.js' %}"></script>

    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u = "//analisis.adrastea.es/";
            _paq.push(['setTrackerUrl', u + 'piwik.php']);
            _paq.push(['setSiteId', '7']);
            var d = document,
                g = d.createElement('script'),
                s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.defer = true;
            g.src = u + 'piwik.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <noscript><p><img src="//analisis.adrastea.es/piwik.php?idsite=7&rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End: Piwik -->

</body>

</html>