{% extends "base.html" %} {% load static from staticfiles %} {% block content %}

<!-- Start: Hero -->
<section class="hero header-js text-center" id="header">
    <div class="overlay-color">
        <div class="container">
            <div class="row section-separator">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <!-- Header -->
                    <h1 class="title">Science Community Workshop</h1>
                    <!-- Sub-Header -->
                    <div class="detail">
                        <p>The meeting will be held at the Royal Observatory of Edinburgh on 7th September 2017. It will run from around 11:00am to 17:00pm, and include both talks and extensive discussion time. You can find directions to the ROE in:
                            <a href="http://www.roe.ac.uk/ifa/about/location.html">location</a></p>
                    </div>
                    <!-- Button -->
                    <div class="btn-form btn-scroll">
                        <a href="{% url 'register' %}" class="btn btn-fill right-icon">Registration</a>
                    </div>
                </div>
            </div>
            <!-- End: .row -->
        </div>
        <!-- End: .container -->
    </div>
    <!-- End: .overlay-color -->
</section>
<!-- End: Hero -->

<!-- Start: About -->
<section class="about content-half background-light" id="about">
    <div class="container">
        <div class="row section-separator text-left">
            <!-- About text: left -->
            <div class="container-half container-half-left background-light">
                <div class="col-xs-12 col-lg-8">
                    <p>Developments towards the Square Kilometre Array (SKA) Observatory continue with pace. The on-going cost control project, the planning and development of Regional Processing Centres, and the UK Radio Astronomy Review instigated by STFC's
                        Science Board, all have potentially significant implications for UK scientists aiming to exploit the transformational capabilities of the SKA. This meeting will provide an opportunity for the UK community to keep up-to-date with
                        developments, review the UK's strategic priorities, and discuss how best to achieve these.</p>
                </div>
            </div>
            <!-- About image: right -->
            <div class="container-half container-half-right cover" style="background-image: url({% static 'images/SKA1_SA_closeup_highres.screen.jpg' %});"></div>
        </div>
    </div>
</section>
<!-- End: About -->

<!-- Start: Participants -->
<section class="features-section-6 relative background-semi-dark" id="participants">
    <div class="container">
        <div class="row section-separator">
            <!-- Start: Sub-heading -->
            <div class="section-header col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <h2 class="section-heading">Participants</h2>
                <p class="sub-heading">List of participants registered for the Workshop.</p>
            </div>
            <!-- End: Sub-heading -->
            <div class="features-item col-xs-12">
                <div class="row temporary-flex" style="">
                    {% for participant in participants %}{% if participant.assistant %}
                    <div class=" each-features col-md-3 col-sm-6 col-xs-12 ">
                        <div class="inner background-light text-center ">
                            <div class="detail ">
                                <h6 class="name ">{{ participant.name }}</h6>
                                <p class="position ">{{ participant.institution }}</p>
                            </div>
                        </div>
                    </div>
                    {% endif %}{% endfor %}
                </div>
            </div>
            <!-- End: .col-md-8 -->
        </div>
        <!-- End: .row -->
    </div>
    <!-- End: .container -->
</section>
<!-- End: Participants -->

<!-- Start: Programme -->
<section class="features-section-3 relative background-light" id="programme">
    <div class="container ">
        <div class="row section-separator">
            <!-- Start: Sub-heading -->
            <div class="section-header col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 ">
                <h2 class="section-heading">Programme</h2>
                <p class="sub-heading">Draft of the meeting programme</p>
            </div>
            <!-- End: Sub-heading -->
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <ul>
                    <li>10:30-11:00 Coffee</li>
                    <li>11:00-11:45 Status of SKA and cost control plans (Talk + discussion)</li>
                    <li>11:45-13:00 Invited talks on SKA pathfinder science</li>
                    <li>13:00-13:40 Lunch</li>
                    <li>13:40-15:20 Contributed talks (abstracts welcome on SKA and/or pathfinder science)</li>
                    <li>15:20-15:40 Tea</li>
                    <li>15:40-17:00 Discussion: UK radio astronomy review and science strategy</li>
                </ul>
            </div>
            <!-- End: .col-md-8 -->
        </div>
        <!-- End: .row -->
    </div>
    <!-- End: .container -->
</section>
<!-- End: Programme -->

<!-- Start: Contact -->
<section class="relative background-semi-dark contact" id="contact">
    <div class="container">
        <div class="row section-separator">
            <!-- Start: Sub-heading -->
            <div class="section-header col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <h2 class="section-heading">Contact</h2>
                <p class="sub-heading">Please do not hesitate to contact us if you have any doubt about the meeting or any problem with the registracion.</p>
            </div>
            <!-- End: Sub-heading -->
            <div class="col-lg-6 text-center">
                <h3><a href="mailto:pnb@roe.ac.uk?Subject=Contact%20from%20UK-SKA%20workshop">pnb@roe.ac.uk</a></h3>
            </div>
            <div class="col-lg-6 text-center">
                <h3><a href="mailto:jsm@roe.ac.uk?Subject=Contact%20from%20UK-SKA%20workshop">jsm@roe.ac.uk</a></h3>
            </div>
        </div>
        <!-- End: .row -->
    </div>
    <!-- End: .container -->
</section>
<!-- End: Contact -->
{% endblock %}