{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block content %}

<div>
    <h1>UK SKA Workshop, Edinburgh 2017</h1>
    
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% bootstrap_messages %}

<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form_errors form type='non_fields' %}
    {% bootstrap_field form.email %}
    {% bootstrap_field form.name %}
    {% bootstrap_field form.institution %}
    {% bootstrap_field form.contribution %}
    {% bootstrap_field form.title %}
    {% bootstrap_field form.abstract %}
    {% bootstrap_field form.link %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Register
    </button>
   {% endbuttons %}
</form>
</div>

{% endblock %}