/**
 * ==========
 *  Elements
 * ==========
 */

body {
    font-family: $font-family-mono;
    color: $col_grey7;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    overflow-x: hidden !important;
    //-webkit-tap-highlight-color is a non-standard CSS property
    //that sets the color of the highlight that appears over a link
    //while it's being tapped. The highlighting indicates to the user
    //that their tap is being successfully recognized, and indicates
    //which element they're tapping on.
    -webkit-tap-highlight-color: $col_blue;
}

a {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    color: $col_blue;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:hover {
        color: $col_blue;
    }
}

a {
    color: $col_blue;
    &:hover {
        color: lighten( $col_blue, 5%);
    }
}

hr {
    border-top: 1px solid $col_grey3;
}

p {
    color: $col_grey7;
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 25px;
    font-weight: 400;
    &:last-child {
        margin-bottom: 0px;
    }
}

 ::-moz-selection {
    color: $col_white;
    text-shadow: none;
    background: $col_blue;
}

 ::selection {
    color: $col_white;
    text-shadow: none;
    background: $col_blue;
}


/**
 * ==========
 *  Headings
 * ==========
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $font-weight-headings;
    line-height: $line-height-headings;
}

h1 {
    font-size: 2.8rem;
    @media (min-width: 768px) {
        font-size: 3.6rem;
    }
    @media (min-width: 992px) {
        font-size: 4.2rem;
    }
}

h2 {
    font-size: 2.4rem;
    @media (min-width: 992px) {
        font-size: 3.2rem;
    }
}

h3 {
    font-size: 2.1rem;
    @media (min-width: 992px) {
        font-size: 2.4rem;
    }
}

h4 {
    font-size: 1.8rem;
    @media (min-width: 992px) {
        font-size: 2.1rem;
    }
}

h5 {
    font-size: 1.6rem;
    @media (min-width: 992px) {
        font-size: 1.8rem;
    }
}

h6 {
    font-size: 1.4rem;
    @media (min-width: 992px) {
        font-size: 1.6rem;
    }
}

small {
    font-size: 1.2rem;
    @media (min-width: 992px) {
        font-size: 1.4rem;
    }
}

.lead-text {
    font-size: $font-size-l;
    line-height: 1.6;
}


/**
 * ====================================
 *  Every Section Headline Defult Class
 * ====================================
 */

.section-heading {
    color: rgba(88, 88, 88, 0.95);
    display: inline-block;
    padding-bottom: 23px;
    margin: 0;
}

.section-header {
    margin-bottom: 70px;
    text-align: center;
}

.section-header .sub-heading {
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    color: rgba(88, 88, 88, 0.65);
    margin: 0;
}

.section-header.text-left,
.section-header.text-left * {
    text-align: left;
}

.section-header.text-right,
.section-header.text-right * {
    text-align: right;
}

.light-text h1,
.light-text h2,
.light-text h3,
.light-text h4,
.light-text h5,
.light-text h6,
.light-text .btn * {
    color: #ffffff;
}

.light-text p,
.light-text span,
.light-text .sub-heading {
    color: rgba(255, 255, 255, 0.7);
}

.vertical-middle {
    display: table-cell;
    float: none;
    vertical-align: middle;
}


/**
 * ===============================
 *  Section Top and Bottom padding
 * ===============================
 */

.section-separator {
    display: block;
    padding-top: 145px;
    padding-bottom: 145px;
}

.section-separator.sp-top {
    padding-bottom: 0px;
}

.section-separator.sp-bottom {
    padding-top: 0px;
}

.section-separator-line {
    margin: 0;
    width: 100%;
    border-top: 1px solid;
    border-color: rgba(0, 0, 0, 0.12);
}


/**
 * =============
 * Overlay Color
 * =============
 */

.overlay-color {
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
}


/**
 * ====================================
 * Making Same Height Left & Right Part
 * ====================================
 */

.display-full {
    display: table !important;
    width: 100%;
}

.display-full .left,
.display-full .right {
    display: table-cell;
    float: none !important;
}


/**
 * ===============================
 *   Defult Button Style
 * ===============================
 */

.btn {
    /*border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    -ms-border-radius: 50px 50px 50px 50px;
    -o-border-radius: 50px 50px 50px 50px;
    color: #ffffff;
    min-width: 200px;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-right: 15px;
    overflow: hidden;
    outline: 0;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/
}

.btn:last-child {
    margin-right: 0px !important;
}

.btn .icon {
    position: relative;
    top: 1px;
}

.btn.left-icon .icon {
    margin-right: 8px;
}

.btn.right-icon .icon {
    margin-left: 8px;
}

.btn-fill {
    position: relative;
    color: white;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background-color: #355dff;
    margin: 0;
    padding: 0 40px 0 15px;
    width: auto;
    line-height: 46px;
    cursor: pointer;
    text-align: left;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.35s ease;
    border-color: transparent;
    border-radius: 2px;
}

.btn-fill:before,
.btn-fill:after {
    position: absolute;
    right: 15px;
    top: 0;
    transition: all 0.5s ease;
    font-family: FontAwesome;
    content: '\f105';
    font-size: 12px;
}

.btn-fill:after {
    top: -33px;
    opacity: 0;
    font-size: 14px;
}

.btn-fill:hover {
    transform: scale(1.05);
    background-color: #0234ff;
    color: white;
}

.btn-fill:hover:before {
    top: 105%;
    opacity: 0;
}

.btn-fill:hover:after {
    top: 0;
    opacity: 1;
}

.btn-fill:hover .btn-fill-icon {
    top: 105%;
    opacity: 0;
}

.btn-fill:hover .btn-fill-icon:after {
    top: 0;
    opacity: 1;
}

.btn.btn-border {
    background-color: transparent;
    border-color: #ffffff;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color !important;
    outline-offset: -2px;
}

.btn-text-link {
    padding: 50px 0 0 0;
    text-align: center;
}

.btn-text-link a {
    color: #355dff;
    margin-left: 10px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-r-30 {
    margin-right: 30px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-l-30 {
    margin-left: 30px;
}

.m-t-40 {
    margin-top: 40px;
}

.m-r-40 {
    margin-right: 40px;
}

.m-b-40 {
    margin-bottom: 40px;
}

.m-l-40 {
    margin-left: 40px;
}

.m-t-50 {
    margin-top: 50px;
}

.m-r-50 {
    margin-right: 50px;
}

.m-b-50 {
    margin-bottom: 50px;
}

.m-l-50 {
    margin-left: 50px;
}

.p-t-30 {
    padding-top: 30px;
}

.p-r-30 {
    padding-right: 30px;
}

.p-b-30 {
    padding-bottom: 30px;
}

.p-l-30 {
    padding-left: 30px;
}

.p-t-40 {
    padding-top: 40px;
}

.p-r-40 {
    padding-right: 40px;
}

.p-b-40 {
    padding-bottom: 40px;
}

.p-l-40 {
    padding-left: 40px;
}

.p-t-50 {
    padding-top: 50px;
}

.p-r-50 {
    padding-right: 50px;
}

.p-b-50 {
    padding-bottom: 50px;
}

.p-l-50 {
    padding-left: 50px;
}


/**
 * ======================
 * Social Icon Style
 * ======================
 */

.social-icon {
    margin-top: 15px;
    display: inline-block;
}

.social-icon li {
    list-style: none;
    float: left;
    margin-bottom: 0px;
}

.social-icon li a {
    font-size: 16px;
    text-align: center;
    width: 33px;
    height: 33px;
    padding: 2px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: transparent;
    color: #ffffff;
    border: 2px solid;
    border-color: #ffffff;
}

.social-icon li a:hover,
.social-icon li a:focus {
    background-color: transparent;
    color: #ffffff;
    border-color: #ffffff;
}

.social-icon li:last-child a {
    margin-right: 0px;
}


/**
 * ===================================
 * Subscription and contact  "MESSAGE"
 * ===================================
 */

.message .inner {
    background-color: #fafafa;
}

.subscription-success,
.subscription-failed,
.email-success,
.email-failed,
.email-loading {
    font-size: 15px;
    display: none;
    text-align: center !important;
    padding: 10px !important;
}

.email-loading {
    color: #52B8FF;
}

.email-loading img {
    width: 15px;
    position: relative;
    top: -2px;
}

.subscription-failed,
.email-failed {
    color: #FF5252 !important;
}

.subscription-failed .icon,
.email-failed .icon {
    font-size: 20px;
    position: relative;
    top: 5px;
}

.subscription-success,
.email-success {
    color: #56CC35;
}

.subscription-failed .icon,
.email-failed .icon,
.subscription-success .icon,
.email-success .icon {
    font-size: 20px;
    position: relative;
    top: 5px;
}


/**
 * =========================
 * Form Style
 * =========================
 */

.single-form {
    width: 100%;
    display: inline-table;
}

.single-form .form-control {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    border: 0px solid;
    border-bottom: 1px solid;
    border-bottom-color: rgba(88, 88, 88, 0.9);
    box-shadow: 0 0 0 0 #fff;
    height: 55px;
    text-align: left;
    margin-bottom: 30px;
    padding: 0;
    background-color: transparent;
    color: #585858;
    border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -ms-border-radius: 0 0 0 0;
    -o-border-radius: 0 0 0 0;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.single-form .form-control::-webkit-input-placeholder {
    color: rgba(88, 88, 88, 0.85) !important;
}

.single-form .form-control:-moz-placeholder {
    color: rgba(88, 88, 88, 0.85) !important;
}

.single-form .form-control::-moz-placeholder {
    color: rgba(88, 88, 88, 0.85) !important;
}

.single-form .form-control:-ms-input-placeholder {
    color: rgba(88, 88, 88, 0.85) !important;
}

.single-form .form-control:focus {
    border-color: #355dff;
}

.single-form textarea {
    height: 175px !important;
    padding: 10px 0 !important;
}

.single-form .select-outer {
    position: relative;
}

.single-form .select-outer::after {
    content: "";
    position: absolute;
    top: 19px;
    right: 15px;
    border-width: 7px 6px;
    border-style: solid;
    border-color: #ffffff transparent transparent;
}

.single-form select {
    -moz-appearance: none;
    -webkit-appearance: none;
}

.single-form .btn {
    margin-top: 10px;
}

.single-form .form-group {
    margin: 0px;
}

.single-form .p-right {
    padding-left: 0px;
}

.single-form .p-left {
    padding-right: 0px;
}

.single-form .m-right {
    margin-right: 0px;
}

.single-form .m-left {
    margin-left: 0px;
}


/**
 * ================================
 * CONTAINER HALF CONTENT
 * ================================
 */

.content-half {
    position: relative;
    height: 100vh;
}

.container-half {
    position: absolute;
    vertical-align: middle;
    top: 0;
    bottom: 0;
    width: auto;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 992px) {
    .container-half {
        width: 50%;
    }
}

.container-half.pr30 {
    width: calc(50% - 30px);
}

.cover {
    background-size: cover;
    background-repeat: no-repeat;
}

.container-half-left {
    left: 0;
    background-position: top left;
}

.container-half-right {
    right: 0;
    background-position: top right;
}

@media (max-width: 991px) {
    .container-half-left,
    .container-half-right {
        /* display: none; */
    }
}

@media (max-width: 767px) {
    h1,
    h2 {
        font-size: 45px;
        line-height: 65px;
        font-weight: 300;
    }
    /**
     * ===============================
     *  Defult CSS
     * ===============================
     */
    html *,
    body,
    p {
        text-align: center;
    }
    /**
     * ===============================
     *  Section Top and Bottom padding
     * ===============================
     */
    .section-separator {
        display: block;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    /**
     * ===============================
     *  Section Heading Style
     * ===============================
     */
    .section-header.text-left,
    .section-header.text-right,
    .section-header.text-left *,
    .section-header.text-right * {
        text-align: center;
    }
    /**
     * ================================
     * Nav Defult Style
     * ================================
     */
    .nav {
        display: inline-block;
    }
    ul,
    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        display: inline-block;
    }
    /**
     * ===============================
     *   Defult Button Style
     * ===============================
     */
    .btn,
    .btn:last-child {
        margin: 10px !important;
    }
    /**
     * ===============================
     *   Display Vertical
     * ===============================
     */
    .vertical-middle {
        display: block;
    }
}


/****************************************************************
    START MAIN CSS STYLE
*****************************************************************/

.background-light {
    background-color: #ffffff;
}

.background-semi-dark {
    background-color: #eee;
}

.background-dark {
    background-color: #18181b;
}


/**
 * =======================
 * Navigation
 * =======================
 */

.main-navbar-top {
    border: 0px solid;
    top: 0px;
    padding-top: 25px;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: transparent;
    z-index: 100;
}

.organisation {
    font-size: 32px;
    color: white;
    line-height: 1.1;
}

.main-navbar-top .okayNav-header {
    background-color: transparent;
}

.main-navbar-top .navbar-brand {
    display: block;
    height: 77px;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 0px;
}

.main-navbar-top .navbar-brand img {
    display: block;
    height: 100%;
}

.main-navbar-top .navbar-brand .logo-1 {
    display: block;
}

.main-navbar-top .navbar-brand .logo-2 {
    display: none;
}

.main-navbar-top .navbar-toggle {
    padding: 19px 15px;
}

.main-navbar-top .navbar-toggle .icon-bar {
    background-color: #355dff;
}

.main-navbar-top ul li .btn-nav {
    border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    -ms-border-radius: 50px 50px 50px 50px;
    -o-border-radius: 50px 50px 50px 50px;
    padding: 15px 15px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-right: 2px;
    position: relative;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid;
    border-color: transparent;
}

.main-navbar-top ul li .btn-nav:focus {
    background-color: transparent !important;
}

.main-navbar-top ul li .btn-nav:hover {
    background-color: transparent;
    color: #ffffff;
}

.main-navbar-top ul li.active .btn-nav {
    color: #ffffff;
}

.main-navbar-top ul li:last-child a {
    margin-right: 0px;
}

.main-navbar-top .navbar-nav {
    padding-top: 5px;
}

.main-navbar-top .navbar-nav .btn-nav.btn-border {
    border-color: rgba(255, 255, 255, 0.6);
}

.main-navbar-top .navbar-nav .btn-nav.btn-border:hover {
    border-color: #ffffff;
}

.main-navbar-top .okayNav__menu-toggle span {
    background-color: #ffffff;
}

.main-navbar-top .okayNav__nav--invisible {
    top: 95px;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main-navbar-top .okayNav__nav--invisible .btn-nav {
    color: rgba(88, 88, 88, 0.7);
    background-color: transparent;
}

.main-navbar-top .okayNav__nav--invisible .btn-nav:hover {
    color: #585858;
}

.main-navbar-top .okayNav__nav--invisible.active .btn-nav {
    color: #585858;
}

.main-navbar-top.navbar-home {
    padding-top: 0;
    background-color: #ffffff;
    box-shadow: 0 1px 12px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 12px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 12px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 12px 0px rgba(0, 0, 0, 0.1);
}

.main-navbar-top.navbar-home .okayNav__menu-toggle span {
    background-color: #585858;
}

.main-navbar-top.navbar-home .okayNav__nav--invisible {
    top: 70px;
}

.main-navbar-top.navbar-home .navbar-brand .logo-1 {
    display: none;
}

.main-navbar-top.navbar-home .navbar-brand .logo-2 {
    display: block;
}

.main-navbar-top.navbar-home ul li .btn-nav {
    color: rgba(88, 88, 88, 0.7);
    background-color: transparent;
}

.main-navbar-top.navbar-home ul li .btn-nav:hover {
    color: #355dff;
}

.main-navbar-top.navbar-home ul li.active .btn-nav {
    color: #355dff;
}

.main-navbar-top.navbar-home .navbar-nav .btn-nav.btn-border {
    border-color: rgba(88, 88, 88, 0.7);
}

.main-navbar-top.navbar-home .navbar-nav .btn-nav.btn-border:hover {
    border-color: #585858;
}

.navbar-home .organisation {
    color: rgba(88, 88, 88, 0.7);
}


/**
 * ===============================
 * Hero
 * ===============================
*/

.hero {
    min-height: 100vh;
    background: url('../images/skascience_protoplanetarydisk_300dpi.screen.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: initial;
    background-repeat: no-repeat;
    background-color: #ffffff;
}

.hero .title {
    color: #ffffff;
}

.hero .detail {
    margin-top: 40px;
}

.hero .detail p {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    line-height: 1.5;
}

.hero .btn-form {
    margin-top: 70px;
}


/**
 * ====================================
 * About
 * ====================================
 */

.about .detail p {
    font-weight: 400;
    color: rgba(88, 88, 88, 0.65);
}


/**
 * ====================================
 * Participants
 * ====================================
 */

.temporary-flex {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -ms-flex-direction: row;
    -ms-flex-flow: wrap;
    -webkit-flex-flow: row wrap;
    /* Safari 6.1+ */
    display: flex;
    flex-flow: row wrap;
}

.features-section-6 .each-features {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 30px;
}

@media (min-width: 767px) {
    .features-section-6 .each-features:nth-last-child(-n+4) .inner {
        margin-bottom: 0px;
    }
}

@media (max-width: 767px) {
    .features-section-6 .each-features:nth-last-child(-n+1) .inner {
        margin-bottom: 0px;
    }
}

.features-section-6 .each-features img {
    width: 100%;
}

.features-section-6 .each-features .position,
.features-section-6 .each-features .title {
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
}

.features-section-6 .each-features .title {
    color: rgba(255, 255, 255, 0.85);
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translateX(0) translateY(-30px) translateZ(0) rotate(0deg) scale(1);
    -o-transform: translateX(0) translateY(-30px) translateZ(0) rotate(0deg) scale(1);
    -ms-transform: translateX(0) translateY(-30px) translateZ(0) rotate(0deg) scale(1);
    -moz-transform: translateX(0) translateY(-30px) translateZ(0) rotate(0deg) scale(1);
    -webkit-transform: translateX(0) translateY(-30px) translateZ(0) rotate(0deg) scale(1);
}

.features-section-6 .each-features .name {
    margin: 0;
}

.features-section-6 .each-features .features-hover {
    position: relative;
}

.features-section-6 .each-features .detail {
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -webkit-flex-direction: column;
    /* Safari 6.1+ */
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    padding: 15px 10px;
    justify-content: space-between;
    flex-direction: column;
    transition: all 0.4s ease-out;
}

.features-section-6 .each-features .detail:hover {
    box-shadow: 0 15px 24px rgba(0, 0, 0, 0.1), 0 19px 76px rgba(0, 0, 0, 0.1);
}

.features-section-6 .each-features .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(53, 93, 255, 0.85);
    opacity: 0;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.features-section-6 .each-features .mask .mask-inner {
    position: absolute;
    left: 0;
    bottom: 25px;
    width: 100%;
}

.features-section-6 .each-features .social-icon li {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translateX(0) translateY(60px) translateZ(0) rotate(0deg) scale(1);
    -o-transform: translateX(0) translateY(60px) translateZ(0) rotate(0deg) scale(1);
    -ms-transform: translateX(0) translateY(60px) translateZ(0) rotate(0deg) scale(1);
    -moz-transform: translateX(0) translateY(60px) translateZ(0) rotate(0deg) scale(1);
    -webkit-transform: translateX(0) translateY(60px) translateZ(0) rotate(0deg) scale(1);
    opacity: 0;
}

.features-section-6 .each-features .social-icon li:nth-of-type(2) {
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.features-section-6 .each-features .social-icon li:nth-of-type(3) {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.features-section-6 .each-features .social-icon li:nth-of-type(4) {
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.features-section-6 .each-features .social-icon li:nth-of-type(5) {
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.features-section-6 .each-features .inner {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
}

.features-section-6 .each-features .inner:hover .mask {
    opacity: 1;
}

.features-section-6 .each-features .inner:hover .title {
    transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
}

.features-section-6 .each-features .inner:hover .social-icon li {
    transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
    opacity: 1;
}

.features-section-6 .each-features .inner:hover .position {
    color: #355dff;
}


/**
 * ====================================
 * Programme
 * ====================================
 */

.time-event-wrapper {
    list-style-type: none;
    text-align: left;
    @media only screen and (min-width: 1200px) {
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        display: flex;
        flex-direction: column;
    }
    li {
        text-align: left;
        border-bottom: 1px solid #ccc;
        display: block;
        padding: 10px 0;
        @media only screen and (min-width: 1200px) {
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            padding: 20px 0;
        }
    }
    .time {
        display: block;
        text-align: left;
        margin-bottom: 5px;
        color: #222;
        font-weight: 700;
        @media only screen and (min-width: 1200px) {
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            -ms-flex-preferred-size: 17%;
            -webkit-flex-basis: 17%;
            display: flex;
            flex-basis: 17%;
        }
    }
    .event {
        display: block;
        text-align: left;
        @media only screen and (min-width: 1200px) {
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            -ms-flex-preferred-size: 81%;
            -webkit-flex-basis: 83%;
            -ms-flex-direction: column;
            -webkit-flex-direction: column;
            display: flex;
            margin-left: 2%;
            flex-basis: 83%;
            flex-direction: column;
        }
    }
    .invited-talks {
        margin: 0;
        padding: 20px 0 0;
        @media only screen and (min-width: 1200px) {
            padding: 10px 0 0;
        }
        li:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }
    }
}

.features-section-3 .testimonial-wrapper .item {
    padding-top: 15px;
}

.features-section-3 .testimonial-wrapper .item .image-outer {
    display: inline-block;
    border: 5px solid;
    border-color: #ffffff;
    box-shadow: 10px 17.321px 57px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 10px 17.321px 57px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 10px 17.321px 57px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 10px 17.321px 57px 0px rgba(0, 0, 0, 0.1);
    border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -ms-border-radius: 50% 50% 50% 50%;
    -o-border-radius: 50% 50% 50% 50%;
}

.features-section-3 .testimonial-wrapper .item .image-outer img {
    width: 150px;
    height: auto;
    border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -ms-border-radius: 50% 50% 50% 50%;
    -o-border-radius: 50% 50% 50% 50%;
}

.features-section-3 .testimonial-wrapper .item blockquote {
    border: 0px solid;
    margin: 40px 0 25px 0;
    padding: 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    font-style: italic;
    color: rgba(88, 88, 88, 0.7);
}

.features-section-3 .testimonial-wrapper .item .name {
    margin-top: 40px;
}

.features-section-3 .testimonial-wrapper .item .profile-outer strong {
    font-weight: 400;
}

.features-section-3 .owl-controls {
    margin-top: 20px;
}

.features-section-3 .owl-controls .owl-pagination .owl-page span {
    width: 7px;
    height: 7px;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.features-section-3 .owl-controls .owl-pagination .owl-page.active span {
    background-color: #355dff;
}


/**
 * ====================================
 * Contact
 * ====================================
 */

.contact a:hover {
    text-decoration: underline !important;
}


/**
 * ====================================
 * Footer
 * ====================================
 */

footer {
    padding: 50px 0;
    background-color: #444;
}

p.copyright {
    margin: 15px 0 0;
    color: #ccc;
}


/* New style: fixing stuff */

@media (min-width: 768px) {
    .navbar-header {
        float: right;
    }
}

.navbar-toggle {
    top: 3.5px;
}

@media (min-width: 768px) {
    .navbar-toggle {
        display: block;
    }
}

@media (min-width: 992px) {
    .navbar-toggle {
        display: none;
    }
}

@media (min-width: 768px) {
    .navbar-collapse.collapse {
        display: none!important;
    }
}

@media (min-width: 768px) {
    .collapse.in {
        display: block !important;
    }
}

@media (min-width: 992px) {
    .navbar-collapse.collapse {
        display: block!important;
    }
}

.main-navbar-top .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-collapse.main-menu {
    background-color: white;
}

@media (min-width: 992px) {
    .navbar-collapse.main-menu {
        background-color: transparent;
    }
}

.main-navbar-top ul li .btn-nav {
    color: black;
}

@media (min-width: 992px) {
    .main-navbar-top ul li .btn-nav {
        color: white;
    }
}

.main-navbar-top {
    padding-top: 0;
}

@media (min-width: 768px) {
    .navbar-collapse.collapse {
        .main-navbar-top {
            padding-top: 25px;
        }
    }
}

.navbar {
    margin-bottom: 0;
    min-height: 0;
}

@media (min-width: 992px) {
    .navbar {
        margin-top: 10px;
    }
}

.main-navbar-top .navbar-brand {
    padding-left: 20px;
    line-height: 2.85;
}

.navbar-home .navbar-toggle .icon-bar {
    background-color: rgba(88, 88, 88, 0.7);
}

.sr-only.active {
    position: relative;
    z-index: 1035;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
}


/*  --------------------
      Links with icons
      --------------------  */

// a[href ^="mailto:"]::after {
//     font-family: $font-family-icons;
//     content: "\f003";
//     margin: 0 0 0 5px;
// }

// a[href $=".pdf"]::after {
//     font-family: $font-family-icons;
//     content: "\f1c1";
//     margin: 0 0 0 5px;
// }

// a[href $=".doc"]::after,
// a[href $=".docx"]::after {
//     font-family: $font-family-icons;
//     content: "\f1c2";
//     margin: 0 0 0 5px;
// }

// a[href $=".csv"]::after,
// a[href $=".xls"]::after,
// a[href $=".xlsx"]::after {
//     font-family: $font-family-icons;
//     content: "\f1c3";
//     margin: 0 0 0 5px;
// }